<%- include('./partials/tab.ejs')%>
<div class="container pt-4">
  <h1>Category</h1>
  <p>
    Explore the world through topics of beautiful photos free to use under the
    un insframe
  </p>

  <div class="row">
    <% for(var i=0; i<categoryLists.length; i++) { %>
      <div class="col-lg-4 col-md-6">
        <a class="category-card" href="/category/<%=categoryLists[i].category%>">
          <div class="card">
            <img
              class="img_category"
              src="<%= categoryLists[i].image_url %>"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title"><%=categoryLists[i].category%></h5>
              <p class="card-text truncate-text">
                <%= categoryLists[i].description %>
              </p>
            </div>
          </div>
        </a>
      </div>
      <% } %>
  </div>
</div>

<br>
<br>
<link rel="stylesheet" href="css/category-style.css" />
