<section class="edit-profile-section">
  <div class="container">
    <h2 class="text-center">Edit Your profile</h2>
    <div class="form-group text-center">
      <div class="profile-picture p-4">
        <img id="output_image" src="<%= User.img_profile%>" alt="" />
      </div>
      <div>
        <form action="/profile/uploadimg" method="post" enctype="multipart/form-data">
          <div class="row justify-content-center">
          <label class="btn btn-insframe" for="photo">Choose File</label>
            <input
            type="file"
            id="photo"
            name="photo"
            onchange="showPreview(event);"
            hidden
          />
        </div>
        <div class="row justify-content-center">
          <input class="btn btn-dark" type="submit" value="upload">
        </div>
        
        </form>
      </div>
    </div>
    <form action="/profile/update" method="POST">
      <input type="hidden" name="id" value="<%= User._id %>">
      <div class="form-group">
        <label for="name">Username</label>
        <input type="text" class="form-control" name="username" id="username" value="<%= User.username%>" disabled />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" id="email" value="<%= User.email%>" />
      </div>
      <div class="form-group">
        <label for="biography">Biography</label>
        <textarea
          class="form-control"
          name="biography"
          id=""
          rows="3"
        ><%= User.biography %></textarea>
      </div>
      <div class="form-group">
        <label for="website">Website</label>
        <input type="text" class="form-control" name="website" id="website" value="<%= User.website%>" />
      </div>

      <div class="form-group">
        <label for="location">Location</label>
        <input
          autocomplete="off"
          type="text"
          class="form-control"
          name="location"
          id="location"
          value="<%= User.location %>"
        />
      </div>

      <div class="form-group">
        <label for=""><b>Photos Uses</b></label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck" />
          <label class="form-check-label" for="gridCheck"
            >I’m open to receiving an email to share how I used photos and
            videos</label
          >
        </div>
      </div>

      <button type="submit" class="btn btn-insframe btn-lg">
        Update Profile
      </button>
      <a href="/profile/collection/@<%= User.username %>" class="btn btn-cancel btn-lg">Cancel</a>
    </form>
  </div>
</section>

<script src="js/upload.js"></script>
<link rel="stylesheet" href="css/edit-profile.css" />
<link rel="stylesheet" href="css/upload.css" />
