<section class="profile-section">
  <div
    class="profile-header d-lg-flex justify-content-center align-items-center text-center"
  >
    <div class="profile-picture">
      <img src="<%= viewUser.img_profile%>" alt="" />
    </div>
    <div class="profile-detail text-lg-left">
      <h1><%= viewUser.username %></h1>
      <% if(logged && isMyProfile) { %>
      <form action="/profile/edit" method="GET">
        <button class="btn" type="submit">
          <i class="fas fa-pen-square"></i> Edit Your Profile
        </button>
      </form>
      <% } %>
      <p><%= viewUser.biography %></p>
    </div>
  </div>
</section>

<section class="collection">
  <div class="container">
    <div class="tab">
      <% if (tabMode == "collection") {%>
        <a href="/profile/photos/@<%= viewUser.username %>" class="tab-link"><%= count %> Photos</a>
        <a href="/profile/collection/@<%= viewUser.username %>" class="link-active tab-link">Collections</a>
      <% } else if(tabMode == "photo"){ %>
        <a href="/profile/photos/@<%= viewUser.username %>" class="tab-link link-active "><%= count %> Photos</a>
        <a href="/profile/collection/@<%= viewUser.username %>" class="tab-link">Collections</a>
      <% } %>
    </div>
  </div>
</section>

<%- include('./partials/collage.ejs') %>

<link rel="stylesheet" href="css/profile.css" />
